<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="row">

      <%if (!(page_title == 'Medication Reminders' || page_title == 'Login')) { %>
        <div class="col-xs-2">
          <%if ((page_title == 'History' || page_title == 'Help')) { %>
            <button style="margin-top:5px"class="btn" onclick="location.href='/settings'" ><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button>
          <% } else { %>
            <button style="margin-top:5px"class="btn" onclick="location.href='/'" ><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button>
          <% }%>
        </div>
        <div id="pageTitle" class="col-xs-10">
          <h4><%=page_title%></h4>
        </div>
      <% } else { %>

        <div id="pageTitle" class="col-xs-12">
          <h4><%=page_title%></h4>
        </div>

      <% }%>
    </div>
  </div>

</nav>
