<nav class="navbar navbar-default navbar-static-top">
  <div style ="margin-top:5px;" class="row">
    <%if (page_title != 'Medication') { %>

    <div class="col-xs-2">
      <button class="btn" onclick="location.href='/'" >Back</button>
    </div>
    <div class="col-xs-10">
      <div class="container" id="pageTitle">
        <h4><%=page_title%></h4>
      </div>
    </div>

    <% } else { %>

      <div class="col-xs-12">
        <div class="container" id="pageTitle">
          <h4><%=page_title%></h4>
        </div>
      </div>

    <% }%>



  </div>

</nav>
