<style media="screen">
  .navbar {
    background-color: #10486E;
  }
  #pageTitle h4{
    color: white;
  }
  .in-navbar {
    color:white;
  }
</style>

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="row">

      <%if (!(page_title == 'Medication Reminders')) { %>
        <div class="col-xs-2">
          <%if (page_title == 'Settings') { %>
            <button style="margin-top:5px" onclick="location.href='/';" ><span class="glyphicon glyphicon-menu-left in-navbar" aria-hidden="true"></span></button>

          <%} else{%>
            <button style="margin-top:5px" onclick="goBack()" ><span class="glyphicon glyphicon-menu-left in-navbar" aria-hidden="true"></span></button>
          <%}%>
        </div>
        <div id="pageTitle" class="col-xs-8">
          <h4 ><%=page_title%></h4>
        </div>
      <% } else { %>

        <div id="pageTitle" class="col-xs-12">
          <h4><%=page_title%></h4>
        </div>

      <% }%>
    </div>
  </div>
</nav>

<script>
  function goBack() {
      window.history.back();
  }
</script>
