<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <!-- Navigation bar -->
  <% include ../partials/nav.ejs %>

    <!-- Start of Medication List -->
    <div class="container" id="medicationList">
      <% for(var i=0; i < data.length; i++) { %>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">

              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-12">
                    <h4><%=data[i].med_name%></h4>
                  </div>

                </div>
                <div class="row">
                  <div class="col-xs-8">
                    <p>
                      <%=data[i].days%>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>Every
                      <%=data[i].repeat%> hours</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 ">
                <button class="btn btn-lg pull-right" type="button" name="button">Recover Reminder</button>
              </div>
            </div>

          </div>
        </div>
        <% } %>
    </div>
    <!-- End of Container for Medication List -->



</body>

<script>
  $(document).ready(function() {
    if (Cookies.get("font-size")) {
      switch(Cookies.get("font-size")) {
          case "0":
              $('.btn,h1,h2,h3,h4,p,label').css('font-size', '');
              break;
          case "1":
              $('.btn,h1,h2,h3,h4,p,label').css('font-size', '1.5em');
              break;
          case "2":
              $('.btn,h1,h2,h3,h4,p,label').css('font-size', '2em');
              break;
          default:
              $('.btn,h1,h2,h3,h4,p,label').css('font-size', '');
      }
    }

  });
</script>

</html>
