<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <style media="screen">
  .centered-modal.in {
    display: flex !important;
  }
  .centered-modal .modal-dialog {
      margin: auto;
  }
  </style>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container" id="menuButtons">
  <div class="btn-group" id="menuBtnGroup">
    <button style="width:25%;" class="btn btn-default btn-lg" type="button" name="newMedBtn" onclick="location.href='/med/new';"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    <button style="width:25%;" onclick="editMedication()" class="btn btn-default btn-lg" type="button" name="editMedBtn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
    <button style="width:25%;" class="btn btn-default btn-lg" type="button" name="settingsBtn" onclick="location.href='/settings';"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
    <button style="width:25%;" class="btn btn-default btn-lg" type="button" name="remindersBtn" onclick="editReminders()"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></button>
  </div>

  <div id="allRemindersToggle" class="reminder row">
      <label class="col-xs-12">All reminders</label>
      <input class="col-xs-12" type="checkbox" name="reminders-switch" id="reminders-switch" checked data-style="ios">
  </div>
</div>



<div class="container" id="medicationList">
  <% for(var i=0; i < data.length; i++) { %>
     <div class="panel panel-default">
       <div class="panel-body">
        <div class="row">
          <div onclick="location.href='/med/new';" class="editIcons col-xs-2">
            <a class="btn btn-default" data-href="" data-toggle="modal" data-target="#confirm-delete">
              <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            </a>
          </div>

          <div class="col-xs-7">
            <div class="row">
              <div class="col-xs-6">
                <h4><%=data[i].med_name%></h4>
              </div>
              <div class="col-xs-2 reminder">
                <input class="col-xs-12" type="checkbox" name="reminders-switch" checked data-style="ios">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-8">
                <p><%=data[i].days%></p>
              </div>
              <div class="col-xs-4">
                <p>Every <%=data[i].repeat%> hours</p>
              </div>
            </div>
          </div>

          <div class="editIcons col-xs-2">
            <a class="btn btn-default" data-href="" data-toggle="modal" data-target="#confirm-delete">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
          </div>
        </div>

       </div>
     </div>
  <% } %>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                Are you sure you want to delete this reminder?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Don't delete</button>
                <a class="btn btn-danger btn-ok">Delete reminder</a>
            </div>
        </div>
    </div>
</div>

</body>
<script>
  $( document ).ready(function() {
    $(".editIcons").toggle();
    $(".reminder").toggle();
    $("[name='reminders-switch']").bootstrapToggle();

    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });

    $('#allRemindersToggle').change(
        function(){
          if($(this).hasClass('off')){
            $("[name='reminders-switch']").parent().removeClass('off');

          } else {
            $("[name='reminders-switch']").parent().addClass('off');
          }

    });
  });

  function editMedication() {
    $(".editIcons").toggle();
    $(".reminder").hide();

  }

  function editReminders() {
    $(".reminder").toggle();
    $(".editIcons").hide();

  }


</script>

</html>
