<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container" id="menuButtons">
  <div class="btn-group" id="menuBtnGroup">
    <button style="width:25%;" class="btn btn-default btn-lg" type="button" name="newMedBtn" onclick="location.href='/med/new';"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    <button style="width:25%;" onclick="editMedication()" class="btn btn-default btn-lg" type="button" name="editMedBtn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
    <button style="width:25%;" class="btn btn-default btn-lg" type="button" name="settingsBtn" onclick="location.href='/settings';"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
    <button style="width:25%;" class="btn btn-default btn-lg" type="button" name="remindersBtn" onclick="location.href='/reminders';"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></button>
  </div>
</div>

<div class="container" id="medicationList">
  <% for(var i=0; i < data.length; i++) { %>
     <div class="panel panel-default">
       <div class="panel-body">
         <div class="row">
           <h3><%=data[i].med_name%></h3>
         </div>
         <div class="row">
           <div class="col-xs-6">
             <p><%=data[i].days%></p>
           </div>
           <div class="col-xs-6">
             <p>Every <%=data[i].repeat%> hours</p>
           </div>
         </div>
       </div>
     </div>
  <% } %>
</div>

</body>
<script>
  function editMedication() {
    alert("edit your medications")
  }
</script>

</html>
