<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110168499-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-110168499-1');
  </script>
  <% include ../partials/header.ejs %>

  <style media="screen">

    .with-background {
      background-image: url('images/pills.jpg');
    }

    .screen-size {
      width: 100vw;
      height: 100vh;
    }

    .center-text {
      text-align: center;
    }

    .button-fill {
      display: inline-block;
      width: 100%;
    }

    .landing-page-header{
      text-align: center;
    }


    #MedMinderLogo {
      width:100%;
      margin-left: -20px;
    }

    .add-margin{
      margin-top: 55px;
    }

    .panel-heading {
      background: transparent !important;
    }


  </style>

</head>

<body>



  <div id="parent-container" class="container with-background screen-size">
    <!-- <h3 class="landing-page-header">Never forget your medicine again!</h3> -->

    <div class="row add-margin">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <img id="MedMinderLogo" src="images/medminderlogo.png" alt="Med Minder Logo">
            <h3 class="landing-page-header">Never forget your medicine again!</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <h4>Already have an account?</h4>
              </div>
              <div class="col-xs-12">
                <a type="button" class="btn btn-primary button-fill"  onclick="location.href='/login';" name="button">Log in</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-12">
                <h4>Don't have an account?</h4>
              </div>
              <div class="col-xs-12">
                <button type="button" class="btn btn-default button-fill" onclick="location.href='/signup';" name="button">Sign Up</button>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</body>


</html>
