<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
    <style>
      .btn-secondary.active {
        background-color: darkgrey;
      }

      .btn.btn-lg.active {
        background-color: darkgrey;
      }

      .btn:focus,
      .btn:active {
        outline: none !important;
      }

      .repeatmenu li {
        cursor: pointer;
      }

      #start_time button {
        height: 100%;
      }

      #dayofweek button {
        width: 14%;
      }
      .vcenter {
          display: inline-block;
          vertical-align: middle;
          float: none;
      }
    </style>
</head>

<body>

  <% include ../partials/nav.ejs %>
    <div class="container">

      <form class="" action="index.html" method="post">
        <div class="form-group">
          <label for="">Medication Name</label>
          <input type="text" class="form-control" id="medication_name" placeholder="Enter name of Medication">
        </div>
        <div class="form-group">
          <label for="">Remind me on</label>
          <div class="btn-toolbar" role="toolbar">
            <div id="dayofweek" class="btn-group btn-group-lg" role="group">
              <button type="button" class="btn btn-secondary">S</button>
              <button type="button" class="btn btn-secondary">M</button>
              <button type="button" class="btn btn-secondary">T</button>
              <button type="button" class="btn btn-secondary">W</button>
              <button type="button" class="btn btn-secondary">Th</button>
              <button type="button" class="btn btn-secondary">F</button>
              <button type="button" class="btn btn-secondary">Sa</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Repeat Every</label>
          <select class="form-control" id="hoursToRepeat">
            <option value="0">Select how often to repeat</option>
            <option value="1">hour</option>
            <option value="1.5">1.5 hours</option>
            <option value="2">2 hours</option>
            <option value="2.5">2.5 hours</option>
            <option value="3">3 hours</option>
            <option value="3.5">3.5 hours</option>
            <option value="4">4 hours</option>
            <option value="4.5">4.5 hours</option>
            <option value="5">5 hours</option>
            <option value="5.5">5.5 hours</option>
            <option value="6">6 hours</option>
            <option value="6.5">6.5 hours</option>
            <option value="7">7 hours</option>
            <option value="7.5">7.5 hours</option>
            <option value="8">8 hours</option>
            <option value="8.5">8.5 hours</option>
            <option value="9">9 hours</option>
            <option value="9.5">9.5 hours</option>
            <option value="10">10 hours</option>
            <option value="10.5">10.5 hours</option>
            <option value="11">11 hours</option>
            <option value="11.5">11.5 hours</option>
            <option value="12">12 hours</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Start Reminders</label>
          <div id="start_time" class="row">
            <div class="col-xs-6">
              <div style="height:85px;" class=" btn-group">
                <button style="width:50%;" type="button" class="btn btn-lg">Now</button>
                <button style="width:50%; white-space: normal;" type="button" class="btn btn-lg">Next hour</button>
              </div>
            </div>
            <div class="col-xs-6">
                <input style="margin-top:25px;"id="specifiedStartTime" type="text" placeholder="At this time ..." data-input>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button id="finish_button" style="height:100%; width: 100%;" type="button" class="btn btn-lg">Add reminder</button>
          </div>
        </div>
      </form>
    </div>
</body>


<script>


  $(document).ready(function() {



    if (Cookies.get("font-size")) {
      switch(Cookies.get("font-size")) {
          case "0":
              $('.btn,h1,h2,h3,h4,p,label').css('font-size', '');
              break;
          case "1":
              $('.btn,h1,h2,h3,h4,p,label').css('font-size', '1.5em');
              break;
          case "2":
              $('.btn,h1,h2,h3,h4,p,label').css('font-size', '2em');
              break;
          default:
              $('.btn,h1,h2,h3,h4,p,label').css('font-size', '');
      }
    }

    $('#specifiedStartTime').datetimepicker();

    $('body').on('click', '.btn.btn-secondary', function() {
      if ($(this).hasClass('active')) {
        $(this).removeClass('active');
      } else {
        $(this).addClass('active');
      }
    });

    $('body').on('click', '#start_time .btn.btn-lg', function() {
      $('#start_time .btn.btn-lg').removeClass('active');
      if ($(this).hasClass('active')) {
        $(this).removeClass('active');
      } else {
        $(this).addClass('active');
      }
    });

    $('body').on('click', '#finish_button', function() {
      var days = [];
      $('#dayofweek button').each(function() {
        var day = $(this);
        if (day.hasClass('active')) {
          days.push(day.html());
        }
      })

      var valid = true;

      if ($('#medication_name')[0].value.length == 0) {
        $('#medication_name').tooltip({
          placement: "bottom",
          title: "Please enter a medication name"
        }).tooltip('show');
        setTimeout(function() {
          $('#medication_name').tooltip('destroy');
        }, 2000);
        valid = false;
      }

      if (days.length == 0) {
        $('#dayofweek').tooltip({
          placement: "bottom",
          title: "please select at least one day of the week"
        }).tooltip('show');
        setTimeout(function() {
          $('#dayofweek').tooltip('destroy');
        }, 2000);
        valid = false;
      }

      if (!valid) {
        return false;
      }

      var payload = {
        med_name: $('#medication_name')[0].value,
        days: JSON.stringify(days),
        repeat: $('#hoursToRepeat')[0].value,
        start_time: $('#start_time button.active').html()
      }

      $.ajax({
        type: 'POST',
        url: '/med/new',
        dataType: 'application/json',
        data: payload,
        complete: function() {
          console.log("done")
          location.href = '/?medname=' + payload.med_name;
        }
      })
    });

    $('body').on('click', '.repeatmenu > li', function() {
      $('.repeatmenu > li').removeClass('active');
      $(this).addClass('active');
      $('#reminder_button').html($(this).find('a').html() + ' <span class="caret"></span>');
    });

  });
</script>

</html>
