<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110168499-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-110168499-1');
  </script>
  <% include ../partials/header.ejs %>
  <style>
    #saveSettings {
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    }
  </style>

</head>

<body>

  <% include ../partials/nav.ejs %>
  <div id="html-spinner"></div>

    <div class="container">
      <form>
        <div class="form-group row">
          <div class="col-xs-12">
            <label for="slider-text-size">Font Size</label>
          </div>
          <div class="col-xs-12">
            <div class="btn-group" id="fontSizesBtns">
              <button id="smallFontBtn" class="btn btn-default btn-lg" type="button" name="smallFont">Small</button>
              <button id="mediumFontBtn" class="btn btn-default btn-lg" type="button" name="mediumFont">Medium</button>
              <button id="largeFontBtn" class="btn btn-default btn-lg" type="button" name="largeFont">Large</button>
            </div>

          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-12">
            <label for="notifications-switch">Enable reminders</label>
          </div>
          <div class="col-xs-12">
            <% if (notifications) { %>
              <input style="margin-left:15px;" type="checkbox" name="notifications-switch" id="notifications-switch" checked data-style="ios">
            <% } else {%>
              <input style="margin-left:15px;" type="checkbox" name="notifications-switch" id="notifications-switch" data-style="ios">
            <%}%>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-12">
            <a id="saveSettings" style="text-align:center" type="button" class="col-xs-12 btn-lg btn-primary">Save Changes</a>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-12" id="appSettingsBtns">
            <button style="width:100%;" onclick="location.href='/history'" class="btn btn-default btn-lg" type="button" name="historyButton">Recover Reminders</button>
            <button style="width:100%;" onclick="location.href='/help'" class="btn btn-default btn-lg" type="button" name="helpButton">Help</button>
          </div>
        </div>
        <br>
        <div class="form-group row">
          <div class="col-xs-12 btn-group" id="logoutButtonGroup">
            <button style="width:100%;" onclick="location.href='/logout'" style="width:100%;" class="btn btn-default btn-lg separate" type="button" name="logoutButton">Logout</button>
          </div>
        </div>

      </form>
    </div>


    <script type="text/javascript">
      $(document).ready(function() {
        $('#html-spinner').hide();

        // TODO: Keep track of the font size in the database to keep from setting affecting other users after they log out, as well as to show which button representing small, medium, or large is currently selected(within /settings2)
      });

      // $("#slider-text-size").bootstrapSlider();
      $("[name='notifications-switch']").bootstrapToggle();

      $('#smallFontBtn').click(function (){
        $('.btn,h1,h2,h3,h4,p,label,a,span').not("label.btn").css('font-size', '');
        gtag('event','change_font_size',{
          'event_category': 'engagement',
          'event_label': 'button',
          'value':0
        });
        Cookies.set("font-size-placeholder", 0);
      });
      $('#mediumFontBtn').click(function (){
        $('.btn,h1,h2,h3,h4,p,label,a,span').not("label.btn").css('font-size', '1.5em');
        gtag('event','change_font_size',{
          'event_category': 'engagement',
          'event_label': 'button',
          'value':1
        });
        Cookies.set("font-size-placeholder", 1);
      });
      $('#largeFontBtn').click(function (){
        $('.btn,h1,h2,h3,h4,p,label,a,span').not("label.btn").css('font-size', '2em');
        gtag('event','change_font_size',{
          'event_category': 'engagement',
          'event_label': 'button',
          'value':2
        });
        Cookies.set("font-size-placeholder", 2);
      });

      $("#saveSettings").click(function() {
        $('#html-spinner').show();
        $.ajax({
          type: 'POST',
          url: '/modifyUserNotification',
          dataType: 'application/json',
          data: {
            enable: $("[name='notifications-switch']").bootstrapToggle().prop('checked')
          },
          complete: function (){
            $("#html-spinner").hide();
            Cookies.set("font-size", Cookies.get("font-size-placeholder"));
            location.href = '/';
          },
          error: function(response) {
            $("#html-spinner").hide();
          }
        });
      })
    </script>

</body>

</html>
