<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110168499-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-110168499-1');
  </script>
  <% include ../partials/header.ejs %>
  <style>
    .unidentical.form-control:focus {
      border-color: #e96666;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 102, 102, 0.6);
    }
    .alert-fixed {
      position:fixed;
      top: 50px;
      left: 0px;
      width: 100%;
      z-index:9999;
      border-radius:0px;
      text-align: center;
    }
  </style>
</head>

<body>

<% include ../partials/nav.ejs %>
<div id="overlay"></div>
<div id="html-spinner"></div>

<div class="container">
  <div class="row">
    <div class="col-cs-12">
      <div id="infoNotifAlert" class="alert alert-info">
        <strong>Info!</strong> This application uses notifications for reminders.
        <br>Please allow this application to send you notifications.
      </div>
      <div id="warnNotifAlert" class="alert alert-warning">
        <strong>Warning!</strong> This browser does not allow notifications.
      </div>
    </div>
  </div>

<div class="container">
  <form id="signupForm" action="/signup" method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" placeholder="Enter new username" class="form-control" name="username" id="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" placeholder="Enter new password" class="form-control" name="password" id="password">
    </div>
    <div class="form-group">
      <label for="confirm">Confirm Password</label>
      <input type="password" placeholder="Confirm new password"  class="form-control" name="confirm" id="confirm">
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button style="width:100%" type="submit" class="disabled btn btn-primary">Sign Up</button>
      </div>
    </div>
  </form>
</div>

</body>

<% if (locals.message) { %>
<div class="alert alert-fixed alert-danger" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong> <%=message%> </strong>
</div>
<% } %>

<script>
  $(document).ready(function() {
    $("#overlay").hide();
    $('#html-spinner').toggle();

    $('#warnNotifAlert').hide();
    $('#infoNotifAlert').hide();

    if ('serviceWorker' in navigator && 'PushManager' in window && Notification.permission === "granted") {
      $('#infoNotifAlert').hide();

    } else if ('serviceWorker' in navigator && 'PushManager' in window && Notification.permission !== "granted") {
      $('#infoNotifAlert').show();

    } else {
      $('#warnNotifAlert').show();
    }

    var valid = !$('#confirm').hasClass('unidentical');
    $('body').on('keyup', function(e) {
      if ($('#confirm')[0].value != $('#password')[0].value) {
        $('#confirm').addClass('unidentical');
        valid = false;
      } else {
        $('#confirm').removeClass('unidentical');
        valid = true;
      }
      if (valid && $('#username')[0].value.length > 0 && $('#confirm')[0].value.length > 0) {
        $('button').removeClass('disabled');
      } else {
        $('button').addClass('disabled');
      }
    })

    $('#signupForm').submit(function (){
      $('#html-spinner').toggle();
    });

  });
</script>
</html>
